/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html, html a {
    -webkit-font-smoothing: antialiased;
}


/**
 * Basic styling
 */
body {
    // font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
    font-family: $serif-2;
  font-size: 1.1em;
  font-weight: 400;
}
p {
     margin-bottom: 1.5em;

    span {
      font-family: $sans-serif;
      font-weight: 700;
      font-style: italic;
    }
  }
.page-content {
    background: url('/images/ltbg.jpg');
background-repeat: repeat;
 border-top: 1px solid #777171;
}

header.site-header {
    background: #BDA66D;
    border-bottom: 1px solid rgba(207, 198, 177, 1);
    padding-top: 5px;

}

footer.site-footer {
    background: #44404E;
}

.page-content .wrapper {
background: rgba(255, 255, 255, 0.541176);
}

h1.post-title {
    padding-top: 20px;
}

.page-content .wrapper {
    border: 1px solid lightgrey;
    border-radius: 5px;

}

img#frontpage-img1 {
    float: left;
    width: 25%;
    margin: 0 10px 0 0;
}

a.page-link:hover {
    color: #4C64B4;
    border-bottom: 1px solid #4C64B4;
    text-decoration: none;
}

h1.post-title {
    border-bottom: 2px solid grey;
    padding-bottom: 15px;
}

/* ==========================================================================
   front page
   ========================================================================== */
   img#frontpage-img1 {
float: left;
width: 30%;
}



/**
 * Set `margin-bottom` to maintain vertycal rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}




/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 {
    font-family: $base-font-family-serif;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: .5em;
    // @include media-query($on-laptop) {
    //   font-size: 2.6em;
    // }
}

h2 {
    font-family: $serif-2;
    font-style: italic;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.6em;
    margin-bottom: .9em;
    // @include media($medium-screen) {
    //   font-size: 1.2em;
    // }
  }

    h3 {
    font-family: $base-font-family-serif;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: .4em;
  }


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $blue;
    border-left: 4px solid $grey-color-dark;
    padding-left: $spacing-unit / 2;
    font-size: 1.3em;
    letter-spacing: -1px;
    font-family: $base-font-family-serif;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
